@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model App_ViewModels.Models.Users


<div class="main-wrapper">
    <div class="topbarhead">
        <div class="row">
            <div class="col-sm-4">
                <h2>Add User</h2>
            </div>
            <div class="col-sm-8 text-right">
                <button type="button" onclick="uac_User.SaveUser();" class="btn btn-primary btn-add">Save</button>
                <button id="btnClose" class="btn btn-primary btn-close">close</button>
            </div>
        </div>
    </div>
    <div class="content_wraper">
        
        @Html.HiddenFor(model => model.UserId, new { @Id = "UserId" })
            <div class="container" id="basicData">
                <h4 class="tabcontenttitle">Basic Information</h4>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="cstmdp input-group">
                            <input type="file" id="imgInp">
                            <img id='img-upload' />
                            <input type="hidden" id="imagebase64" />
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label">UserName:</label>
                                <input type="text" id="txtUserName" class="form-control" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label">First Name:</label>
                                <input type="text" id="txtName" class="form-control" />
                            </div>
                            <div class="col-md-6 form-group">
                                <div id="passwordDiv" class="row">
                                    <div class="col-md-12 form-group">
                                        <label class="form-label">Pasword:</label>
                                        <input type="password" id="txtPassword" class="form-control" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="form-label">Confirm pasword:</label>
                                        <input type="password" id="txtConfirmPassword" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="form-label">Email:</label>
                        <input type="email" id="txtEmail" class="form-control" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="form-label">&nbsp;</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="IsActive" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                                Active
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="IsAllowLogin" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                                Is Allow Login
                            </label>
                        </div>
                    </div>
                </div>

                <h4 class="tabcontenttitle">Define User Access</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="form-label">Group* :</label>
                        <div id="cmbGroup"></div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- ================== MAIN WRAPPER END ================== -->


@section scripts{
    <script src="~/Scripts/Assets/uac_AddUser.js"></script>
    <script>
        $(document).ready(function (e) {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    if (input.files.length !== 0) {
                        reader.onloadend = function () {
                            // Since it contains the Data URI, we should remove the prefix and keep only Base64 string
                            var b64 = reader.result.replace(/^data:.+;base64,/, '');
                            $('#imagebase64').val(b64);
                            // console.log(b64);
                        };
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });

            $('#btnClose').on('click', function () {
                window.top.close();
            });
            $('#IsFacilityUser').click(function () {
                uac_User.FacilityUserClicked();
            });

            //anas//
            var model = @Html.Raw(Json.Encode(Model));
            uac_User.CreateControls(model);


            
            



        });
    </script>
}