@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section master_styles{
    @RenderSection("css", required: false)

}
@{
    App_ViewModels.SessionObj session = (App_ViewModels.SessionObj)Session["DITSession"];
    bool isAppOwner = session != null && session.isAppOwner ? true:false;

}
@section SettingsLayout{

    <!-- ================== SIDEBAR MENU START ================== -->
    <div class="sidebar-menu">

        <div class="sidebar-menu-inner">
            <ul class="navigation navigation-main navigation-accordion nicescroll">
                <li>
                    <a href="javascript:;" onclick="window.location.href='/Dashboard/Index'">
                        <span class="nav-icon"><i class="fa fa-home"></i></span>
                        <span class="nav-title">Home</span>
                    </a>
                </li>
                @if (isAppOwner)
                 { 
                <li>
                    <a href="javascript:;" class="active">
                        <span class="nav-icon"><i class="fa fa-first-order"></i></span>
                        <span class="nav-title">App Access</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul>
                        <li><a href="javascript:;" onclick="window.location.href='/AppAccess/Actions'">Actions</a></li>
                        <li><a href="javascript:;" onclick="window.location.href='/AppAccess/Index'">Modules</a></li>
                    </ul>
                </li>
                 } 

                <li>
                    <a href="javascript:;">
                        <span class="nav-icon"><i class="fa fa-user"></i></span>
                        <span class="nav-title">User Access</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul>
                        <li><a href="javascript:;" onclick="window.location.href='/UserAccess/Policies'">Policies</a></li>
                        <li><a href="javascript:;" onclick="window.location.href='/UserAccess/Policy'">New Policy</a></li>
                        <li><a href="javascript:;" onclick="window.location.href='/UserAccess/Groups'">Groups</a></li>
                        <li><a href="javascript:;" onclick="window.location.href='/UserAccess/Users'">Users</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-content nicescroll">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Dynamic Infusion Therapy</p>
        </footer>
    </div>

}
@section master_Scripts{
    @RenderSection("scripts", required: false)
}




