
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="topbarhead">
        @*//head of page*@
        <div class="row">
            <div class="col-sm-4">
                <h2>Dashboard</h2>
            </div>
            <div class="col-sm-8 text-right">
                <button type="button" class="btn btn-default btn-add" onclick="alert('under construction')"><i class="fa fa-filter"></i>Filter</button>
            </div>
        </div>
    </div>
    <div class="content_wraper nicescroll">
        @*body of page*@
    </div>
</div>