
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrapper">
    <div class="topbarhead">
        @*//head of page*@
    </div>
    <div class="content_wraper nicescroll">
        @*body of page*@
    </div>
</div>